{% extends 'base.html' %}

{% block content %}
  <h1>{{ announcement.heading }}</h1>
  <p>{{ announcement.description }}</p>
  <p>Цена: {{ announcement.price }}</p>
  <p>Автор: {{ announcement.author.username }}</p>
  <p>Дата создания: {{ announcement.date_creation }}</p>
  <p>Дата публикации: {{ announcement.date_publications }}</p>

  <h2>Комментарии</h2>
  <ul>
    {% for comment in announcement.comments.all %}
      <li>
        <p>{{ comment.text }}</p>
        <p>Автор: {{ comment.author.username }}</p>
        <p>Дата создания: {{ comment.date_creation_com }}</p>
        {% if user.is_authenticated and user == comment.author %}
          <a href="{% url 'webapp:comment_delete' comment.pk %}">Удалить комментарий</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <h2>Добавить комментарий</h2>
    <form method="post" action="{% url 'webapp:comment_create' announcement.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Добавить комментарий</button>
    </form>
  {% endif %}
{% endblock %}
